# HyperVerge API Credentials
HYPERVERGE_APP_ID=your_app_id_here
HYPERVERGE_APP_KEY=your_app_key_here
HYPERVERGE_REGION=ind

# Available regions:
# ind - India
# usa - USA
# zaf - Africa
# irl - Europe
# sgp - Singapore
